.container{
    width: 1200px;
    margin: auto;
    display: flex;
    flex: wrap;
     
}
.logo{
    /* width: 5%; */
    flex: 0 0 auto;
}
.logo img{
    width: 120px;
    height: 90px;
}
nav{
    width: 85%;
    flex: 0 0 auto;
}
nav ul{
    display: flex;
    flex: wrap;
    justify-content: flex-end;
}
nav ul li a{
    color: #413960;
    font-size: 20px;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
   
    border-radius: 30px;
}
nav ul li a:hover{
    background: salmon;
    color: white;
}
li{
    list-style: none;
}